.venv/
site/_site/
site/.quarto/
site/.gitignore
*.quarto_ipynb
__pycache__/
*.pyc
.pytest_cache/
.ipynb_checkpoints/
notebooks/*.ipynb
*.png
!site/**/*.png
*.egg-info/
site/figures/_cache/
.DS_Store
